In [1]:
import pandas as pd

In [2]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [8]:
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [11]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [17]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [19]:
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [20]:
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [21]:
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [22]:
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) *100
passing_reading_percentage

85.80546336482001

In [23]:
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [197]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [123]:
district_summary_df = pd.DataFrame([{"Total Schools": school_count,
                      "Total Students": student_count,
                      "Total Budget": total_budget,
                      "Average Math Score": average_math_score,
                      "Average Reading Score": average_reading_score,
                      "% Passing Math": passing_math_percentage,
                      "% Passing Reading": passing_reading_percentage,
                      "% Overall Passing": overall_passing_rate}])
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.6f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.5f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.6f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.6f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.6f}".format)
(district_summary_df)

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [74]:
school_types_series = school_data.set_index(["school_name"])["type"]
school_size_series=school_data_.set_index(['school_name'])['size']
school_budget_series=school_data_.set_index(['school_name'])['budget']

In [89]:
per_school_count = school_data_complete["school_name"].value_counts()
per_school_count

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [91]:
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [94]:
per_school_capita = per_school_budget / per_school_count
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [99]:
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [96]:
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [183]:
avg_reading_scores = school_data_complete.groupby('school_name').mean()['reading_score']
avg_math_scores = school_data_complete.groupby('school_name').mean()['math_score']
total_budget_by_school = school_data_complete.groupby('school_name').mean()['budget']
pd.DataFrame([avg_reading_scores, avg_math_scores, total_budget_by_school]).transpose()

                       reading_score  math_score     budget
school_name
Bailey High School         81.033963   77.048432  3124928.0
Cabrera High School        83.975780   83.061895  1081356.0
Figueroa High School       81.158020   76.711767  1884411.0
Ford High School           80.746258   77.102592  1763916.0
Griffin High School        83.816757   83.351499   917500.0
Hernandez High School      80.934412   77.289752  3022020.0
Holden High School         83.814988   83.803279   248087.0
Huang High School          81.182722   76.629414  1910635.0
Johnson High School        80.966394   77.072464  3094650.0
Pena High School           84.044699   83.839917   585858.0
Rodriguez High School      80.744686   76.842711  2547363.0
Shelton High School        83.725724   83.359455  1056600.0
Thomas High School         83.848930   83.418349  1043130.0
Wilson High School         83.989488   83.274201  1319574.0
Wright High School         83.955000   83.682222  1049400.0

In [184]:
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

KeyError: 'school_name'

In [175]:
passingmath = student_data.loc[student_data['math_score'] >= 70]['math_score'].count()
percentagepassmath = (passingmath/student_count) * 100
percentagepassmath

74.9808526933878

In [170]:
passingreading = student_data.loc[student_data['reading_score'] >= 70]['reading_score'].count()
percentagepassreading = (passingreading/student_count) * 100
percentagepassreading

85.80546336482001

In [204]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_graders_scores = school_data_complete.groupby('school_name').mean()["math_score"]
tenth_graders_scores = school_data_complete.groupby('school_name').mean()["math_score"]
eleventh_graders_scores = school_data_complete.groupby('school_name').mean()["math_score"]
twelfth_graders_scores = school_data_complete.groupby('school_name').mean()["math_score"]

ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

scores_by_grade_df = pd.DataFrame({"9th": ninth_graders_scores,
                                "10th":tenth_graders_scores,
                                "11th":eleventh_graders_scores,
                                "12th":twelfth_graders_scores})
                                  
scores_by_grade_df.index.name = None

scores_by_grade_df = scores_by_grade_df [["9th", "10th", "11th", "12th"]]


scores_by_grade_df

                             9th       10th       11th       12th
Bailey High School     77.048432  76.996772  77.515588  76.492218
Cabrera High School    83.061895  83.154506  82.765560  83.277487
Figueroa High School   76.711767  76.539974  76.884344  77.151369
Ford High School       77.102592  77.672316  76.918058  76.179963
Griffin High School    83.351499  84.229064  83.842105  83.356164
Hernandez High School  77.289752  77.337408  77.136029  77.186567
Holden High School     83.803279  83.429825  85.000000  82.855422
Huang High School      76.629414  75.908735  76.446602  77.225641
Johnson High School    77.072464  76.691117  77.491653  76.863248
Pena High School       83.839917  83.372000  84.328125  84.121547
Rodriguez High School  76.842711  76.612500  76.395626  77.690748
Shelton High School    83.359455  82.917411  83.383495  83.778976
Thomas High School     83.418349  83.087886  83.498795  83.497041
Wilson High School     83.274201  83.724422  83.195326  83.035794
Wright High School     83.682222  84.010288  83.836782  83.644986

In [207]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

ninth_graders_scores = school_data_complete.groupby('school_name').mean()["reading_score"]
tenth_graders_scores = school_data_complete.groupby('school_name').mean()["reading_score"]
eleventh_graders_scores = school_data_complete.groupby('school_name').mean()["reading_score"]
twelfth_graders_scores = school_data_complete.groupby('school_name').mean()["reading_score"]

ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]


                                  
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None


reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.033963  80.907183  80.945643  80.912451
Cabrera High School    83.975780  84.253219  83.788382  84.287958
Figueroa High School   81.158020  81.408912  80.640339  81.384863
Ford High School       80.746258  81.262712  80.403642  80.662338
Griffin High School    83.816757  83.706897  84.288089  84.013699
Hernandez High School  80.934412  80.660147  81.396140  80.857143
Holden High School     83.814988  83.324561  83.815534  84.698795
Huang High School      81.182722  81.512386  81.417476  80.305983
Johnson High School    80.966394  80.773431  80.616027  81.227564
Pena High School       84.044699  83.612000  84.335938  84.591160
Rodriguez High School  80.744686  80.629808  80.864811  80.376426
Shelton High School    83.725724  83.441964  84.373786  82.781671
Thomas High School     83.848930  84.254157  83.585542  83.831361
Wilson High School     83.989488  84.021452  83.764608  84.317673
Wright High School     83.955000  83.812757  84.156322  84.073171

In [209]:
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

KeyError: 'school_name'

In [216]:
per_school_summary = school_data_complete.groupby(['school_name', "type"])



total_students = school_data_complete["Student ID"].count()
total_budget = school_data_complete["budget"].mean()
per_school_capita =  school_data_complete/ total_students
avgmathscore = school_data_complete["math_score"].mean()
avgreadingscore = school_data_complete["reading_score"].mean()
passingmath = school_data_complete.query('math_score >70')["School ID"].count()/ total_students
passingreading = school_data_complete.query('reading_score >70')["School ID"].count()/ total_students

  

per_school_summary = pd.DataFrame({"Total Students":total_students,
                                       "Total School Budget": total_budget, 
                                       "Per Student Budget":per_school_capita,
                                       "Average Math Score": math_score,
                                       "Average Reading Score": reading_score,   
                                       "% Passing Math":passingmath,
                                       "% Passing Reading":passingreading,
                                                 
                                    
                                      
})

per_school_summary = per_school_summary[[  "Total Students",
    "Total School Budget",
    "Per Student Budget",
    "Average Math Score",
    "Average Reading Score",
     "% Passing Math",   
     "% Passing Reading",                                             
    "%Overall Passing Rate"]]

TypeError: unsupported operand type(s) for /: 'str' and 'int'